{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<div class="hero-unit">
  <h1>{{ title }}</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  </p>
  <p><a class="btn btn-primary btn-large" href="#">Learn more &raquo;</a></p>       
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span4">
        <h2>Lorem ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
        </p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Lorem ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
        </p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Lorem ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
        </p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
</div>
{% endblock %}
